*
        {
            margin:0;
            box-sizing: border-box;
        }
        body
        {       }
        .menu
        {
            margin:11px;
        }
        #menu-icon1
        {
            width:27px;
            height:27px;
        }
        #menu-icon2
        {
            width:27px;
            height:27px;
            visibility: hidden;
        }
        .menu
        {
            position: fixed;
        }
        .side-menu
        {
            position: fixed;
            top:0;
            background-color: skyblue;
            visibility: hidden;
            width:200px;
            height:100%;
            box-shadow:0 0 10px 10px rgba(0,0,0,0.2);
            padding-top:100px;
            z-index: 2;
            overflow: auto;
        }
        .menu-icon
        {
            margin:20px;
            width:50px;
            height:50px;
            border-radius:50%;
            background-color: white;
            box-shadow:0 0 10px 10px rgba(0,0,0,0.2);
            z-index: 3;
            position: fixed;
        }
        .button
        {
            padding:10px;
            background-color: rgba(255,255,255,0.5);
            border-radius:20px;
            width:140px;
            margin:30px;
            line-height: 20px;
            cursor: pointer;
        }
        a
        {
            text-decoration: none;  
            color: black;
        }
        .button:hover
        {
            background-color: rgb(236, 119, 119);
            color:white;
        }
        .frame
        {
            border:0;
            width:100%;
            height: 90%;
            top:74px;
            z-index: -2;
        }
        .main
        {
            position: fixed;
            top: 0;
            font-size:20px;
            position:fixed;
            width:100%;
            text-align:center;
            color:white;
            background-color:#353535;
            padding:25px;
            z-index:2;
        }
        .home-view{
            display: none;
            margin-top:100px;
        }
        table{
            display: flex;
            flex-direction: column;
            max-width: 80vw;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: space-around;
            border-collapse: collapse;
        }
        td,input{
            text-align: center;
        }
        td, th {
            padding: 15px;
            border: 1px solid;
            border-collapse: collapse;
        }       